<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (pagename='Update Password')">
</nav>

<div class="row" >
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Update Password</div>
            <div class="card-body">
                <form th:action="@{/user/updatePassword}" method="POST">
                    <input type="hidden" name="username" th:field="${user.username}"/>
                    <label>Password Lama</label>
                    <input type="password" name="oldPassword" class="form-control">

                    <label>Password Baru</label>
                    <input type="password" name="newPassword" class="form-control" placeholder="password minimal 8 karakter dengan angka dan huruf">

                    <label>Konfirmasi Password Baru</label>
                    <input type="password" name="newPasswordConfirm" class="form-control">

                    <br>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
</div>


</div>
</body>
</html>