<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar (pagename='View All Hotel')"></nav>
    <h2>Daftar Seluruh Hotel</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID Hotel</th>
                <th>Nama Hotel</th>
                <th>Alamat Hotel</th>
                <th>Nomor Telepon Hotel</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="hotel : ${listHotel}">
                <td th:text="${hotel.id}"></td>
                <td th:text="${hotel.namaHotel}"></td>
                <td th:text="${hotel.alamat}"></td>
                <td th:text="${hotel.nomorTelepon}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>